<% content_for :body_content_left do %>
<div id="testimonials">
  <% @testimonials.each do |testimonial| -%>
    <h2 id="<%= testimonial.anchor %>"><%= testimonial.title %></h2>
    <div class="rating">
      <% testimonial.rating.times do -%>
        <img src="<%= image_path 'star.png' %>" alt="" />
      <% end -%>
    </div>
    <%= raw testimonial.content %>
    <p><%= testimonial.name %></p>
  <% end -%>
</div>
<% end %>

<%= render '/refinery/content_page' %>
