<%= form_for [refinery, :testimonials_admin, @testimonial] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @testimonial,
              :include_object_name => true %>

  
  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :title %>
      <%= refinery_help_tag "The title of the testimonial. This will also be used as the footer blurb." %>
    </span>
    <%= f.text_field :title, :class => 'larger widest'  -%>

  </div>
  
  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :name, "Attribution" -%>
      <%= refinery_help_tag "Name or source to attribute the testimonial to." %>
    </span>
    <%= f.text_field :name  -%>
  </div>
  
  <!--
  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :date -%>
      <%= refinery_help_tag "Optional date to associate with the testimonial. Not currently used." %>
    </span>
    <%= f.date_select :date  -%>
  </div>
  -->
  
  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :rating, "Star Rating" -%>
      <%= refinery_help_tag "Number of stars to show above the testimonial." %>
    </span>
    <%= f.number_field :rating  -%>
  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:content].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/testimonials/testimonial", :default => part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
        <% [:content].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  
  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :hidden %>
      <%= refinery_help_tag "Prevent the testimonial from appearing anywhere on your site." %>
    </span>
    <%= f.check_box :hidden, :checked => @testimonial[:hidden]  -%>
  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.testimonials.admin.testimonials.testimonial'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @testimonial.title) %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
